.password-generator {
    max-width: 400px;
    margin: 40px auto; /* Added margin-top and margin-bottom */
    padding: 20px;
    background-color:#f0d2f0; /* Pink background color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .password-generator h1 {
    font-size: 24px;
    color: #800080; /* Purple text color */
  }
  
  .password-generator label {
    display: block;
    margin-bottom: 8px;
    color: #800080; /* Purple text color */
  }
  
  .password-generator input[type='number'],
  .password-generator input[type='checkbox'] {
    margin-bottom: 16px;
  }
  
  .password-generator button {
    padding: 10px 20px;
    background-color: #800080; /* Purple button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-result {
    margin-top: 20px;
    margin-bottom: 20px; /* Added margin-bottom */
    color: rgb(44, 42, 44) /* Pink text color */
  }